@media print {
    main img {
        break-inside: avoid;
        page-break-inside: avoid;
    }

    .aside-container {
        display: none;
    }

    .VPLocalNav {
        display: none;
    }
}